.status-penuh {
    color: #d9534f; /* Merah gelap ala Bootstrap */
    font-weight: bold;
    background-color: #f2dede;
    padding: 10px;
    border-radius: 5px;
}

/* Ketika body memiliki class "dark-theme", ubah warna latarnya */
body.dark-theme {
    background-color: #e51f1f;
    color: #d1ce15;
    margin: 0;
    box-sizing: border-box;
    
}